{
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 130,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true
}
