._bg-lp {
  background: radial-gradient(#FAFAFA, #94A3B8, #E5E5E5, #E5E5E5);
}
._bg-dynamic-lp {
  background-size: 400%;
  animation: loading 35s linear infinite;
  transition: background-size 0.75s ease-in-out;
}
._bg-dynamic-lp:hover {
  background-size: 300%;
}
._bg-empty-dynamic-lp {
  background-size: 100%;
  animation: loading 40s linear infinite;
}