/*bold*/
$black-boldess: rgb(125, 125, 125);
$black-bold: rgb(75, 75, 75);
$black-bolder: rgb(50, 50, 50);
/*white*/
$white-boldess: rgb(205, 205, 205);
$white-bold: rgb(180, 180, 180);
$white-bolder: rgb(155, 155, 155);
/*fist-color*/
/*second-color*/
/*third-color*/