@import "Color";

/*border-full*/
._border-black-boldess{
  border: solid $black-boldess 1px;
}
._border-black-bold{
  border: solid $black-bold 1px;
}
._border-black-bolder{
  border: solid $black-bolder 1px;
}
._border-white-boldess{
  border: solid $white-boldess 1px;
}
._border-white-bold{
  border: solid $white-bold 1px;
}
._border-white-bolder{
  border: solid $white-bolder 1px;
}

/*border-b*/
._border-b-white-boldess{
  border-bottom: solid $white-boldess 1px;
}
._border-b-white-bold{
  border-bottom: solid $white-bold 1px;
}
._border-b-white-bolder{
  border-bottom: solid $white-bolder 1px;
}
._border-b-black-boldess{
  border-bottom: solid $black-boldess 1px;
}
._border-b-black-bold{
  border-bottom: solid $black-bold 1px;
}
._border-b-black-bolder{
  border-bottom: solid $black-bolder 1px;
}

/*border-y-black*/
._border-y-black-boldess{
  border-top: solid $black-boldess 1px;
  border-bottom: solid $black-boldess 1px;
}
._border-y-black-bold{
  border-top: solid $black-bold 1px;
  border-bottom: solid $black-bold 1px;
}
._border-y-black-bolder{
  border-top: solid $black-bolder 1px;
  border-bottom: solid $black-bolder 1px;
}
._border-y-white-boldess{
  border-top: solid $white-boldess 1px;
  border-bottom: solid $white-boldess 1px;
}
._border-y-white-bold{
  border-top: solid $white-bold 1px;
  border-bottom: solid $white-bold 1px;
}
._border-y-white-bolder{
  border-top: solid $white-bolder 1px;
  border-bottom: solid $white-bolder 1px;
}

._outline-white-bold{
  outline: solid $white-bold 1px;
  outline-offset: 3px;
}
._outline-black{
  outline: solid $white-boldess 2px;
}