@import "Library";

._bg-black-045{
  background: rgba(0, 0, 0, 0.45);
}
._rounded-1xl{
  border-radius: 1rem;
}
._rounded-4xl{
  border-radius: 5rem;
}
._button{
  padding: 1rem 2rem 1rem 2rem;
}
._sphere{
  border-radius: 50%;
}
._mobile_disable{
  @include mobile{
    display: none;
  }
}
._desktop_disable{
  @include desktop{
    display: none;
  }
}

._bg-111111{
  background: #111111;
}