@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "magic.css/dist/magic.css";
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes vibration {
  0% {
    outline-color: rgba(0, 250, 0, 0.3);
    outline-offset: 3px;
  }
  50% {
    outline-color: rgba(0, 250, 0, 0);
    outline-offset: 6px;
  }
  100% {
    outline-color: rgba(0, 250, 0, 0.3);
    outline-offset: 3px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500% 0;
  }
}
@keyframes rtl-slide {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ltr-slide {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ttb-slide-in {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(-100%);
  }
  100% {
    opacity: 100%;
    filter: blur(0);
    transform: translateY(0);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes vibration {
  0% {
    outline-color: rgba(0, 250, 0, 0.3);
    outline-offset: 3px;
  }
  50% {
    outline-color: rgba(0, 250, 0, 0);
    outline-offset: 6px;
  }
  100% {
    outline-color: rgba(0, 250, 0, 0.3);
    outline-offset: 3px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500% 0;
  }
}
@keyframes rtl-slide {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ltr-slide {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ttb-slide-in {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(-100%);
  }
  100% {
    opacity: 100%;
    filter: blur(0);
    transform: translateY(0);
  }
}
._anime-ttb-slide {
  animation: ttb-slide-in 0.5s ease-in-out;
}

._bg-lp {
  background: radial-gradient(#FAFAFA, #94A3B8, #E5E5E5, #E5E5E5);
}

._bg-dynamic-lp {
  background: radial-gradient(#FAFAFA, #94A3B8, #E5E5E5, #E5E5E5);
  background-size: 400%;
  animation: loading 35s linear infinite;
  transition: background-size 0.75s ease-in-out;
}

._bg-dynamic-lp:hover {
  background-size: 300%;
}

._bg-empty-dynamic-lp {
  background-size: 100%;
  animation: loading 40s linear infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes vibration {
  0% {
    outline-color: rgba(0, 250, 0, 0.3);
    outline-offset: 3px;
  }
  50% {
    outline-color: rgba(0, 250, 0, 0);
    outline-offset: 6px;
  }
  100% {
    outline-color: rgba(0, 250, 0, 0.3);
    outline-offset: 3px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500% 0;
  }
}
@keyframes rtl-slide {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ltr-slide {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ttb-slide-in {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(-100%);
  }
  100% {
    opacity: 100%;
    filter: blur(0);
    transform: translateY(0);
  }
}
._transition-wh-xs {
  transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
}

._transition-wh-sm {
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}

._transition-wh-md {
  transition: height 0.75s ease-in-out, width 0.75s ease-in-out;
}

._transition-wh-base {
  transition: height 1s ease-in-out, width 1s ease-in-out;
}

._transition-w-xs {
  transition: width 0.25s ease-in-out;
}

._transition-w-sm {
  transition: width 0.5s ease-in-out;
}

._transition-w-md {
  transition: width 0.75s ease-in-out;
}

._transition-w-base {
  transition: width 1s ease-in-out;
}

._transition-h-sm {
  transition: height 0.5s ease-in-out;
}

._transition-position-y {
  transition: top 0.5s ease-in-out;
}

html {
  font-size: 16px;
  font-family: "Noto Sans K", sans-serif;
  color: white;
  background: black;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=index.css.map */
