@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'hover.scss';
@import 'animation.scss';
@import 'background.scss';

html {
  font-size: 16px; font-family: Noto Sans Kr, sans-serif; color: white;
  background: black;
  scroll-behavior: smooth;
}