@import 'font';
@import 'hover';
@import 'animation';
@import 'background';
@import 'transition';

html {
  font-size: 16px; font-family: "Noto Sans K", sans-serif; color: white;
  background: black;
  scroll-behavior: smooth;
}