@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes vibration {
  0% {
    outline-color: rgba(250, 250, 250, 0.05);
    outline-offset: 3px;
  }
  50% {
    outline-color: rgba(250, 250, 250, 0);
    outline-offset: 6px;
  }
  100% {
    outline-color: rgba(250, 250, 250, 0.05);
    outline-offset: 3px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500% 0;
  }
}
@keyframes rtl-slide {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ltr-slide {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ttb-slide-in {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(-100%);
  }
  100% {
    opacity: 100%;
    filter: blur(0);
    transform: translateY(0);
  }
}
._hover-max-w-fit {
  transition: width 1s ease-in-out;
  max-width: 4rem;
  width: 4rem;
}

._hover-max-w-fit:hover {
  width: 12rem;
  max-width: fit-content;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes vibration {
  0% {
    outline-color: rgba(250, 250, 250, 0.05);
    outline-offset: 3px;
  }
  50% {
    outline-color: rgba(250, 250, 250, 0);
    outline-offset: 6px;
  }
  100% {
    outline-color: rgba(250, 250, 250, 0.05);
    outline-offset: 3px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500% 0;
  }
}
@keyframes rtl-slide {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ltr-slide {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ttb-slide-in {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(-100%);
  }
  100% {
    opacity: 100%;
    filter: blur(0);
    transform: translateY(0);
  }
}
._anime-ttb-slide {
  animation: ttb-slide-in 0.5s ease-in-out;
}

._anime-outline-vibration {
  outline: solid red 4px;
  animation: vibration 1s ease-in-out infinite;
}

._bg-lp {
  background: radial-gradient(#FAFAFA, #94A3B8, #E5E5E5, #E5E5E5);
}

._bg-dynamic-lp {
  background-size: 400%;
  animation: loading 35s linear infinite;
  transition: background-size 0.75s ease-in-out;
}

._bg-dynamic-lp:hover {
  background-size: 300%;
}

._bg-empty-dynamic-lp {
  background-size: 100%;
  animation: loading 40s linear infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes vibration {
  0% {
    outline-color: rgba(250, 250, 250, 0.05);
    outline-offset: 3px;
  }
  50% {
    outline-color: rgba(250, 250, 250, 0);
    outline-offset: 6px;
  }
  100% {
    outline-color: rgba(250, 250, 250, 0.05);
    outline-offset: 3px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500% 0;
  }
}
@keyframes rtl-slide {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ltr-slide {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ttb-slide-in {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(-100%);
  }
  100% {
    opacity: 100%;
    filter: blur(0);
    transform: translateY(0);
  }
}
._transition-wh-xs {
  transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
}

._transition-wh-sm {
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}

._transition-wh-md {
  transition: height 0.75s ease-in-out, width 0.75s ease-in-out;
}

._transition-wh-base {
  transition: height 1s ease-in-out, width 1s ease-in-out;
}

._transition-w-xs {
  transition: width 0.25s ease-in-out;
}

._transition-w-sm {
  transition: width 0.5s ease-in-out;
}

._transition-w-md {
  transition: width 0.75s ease-in-out;
}

._transition-w-base {
  transition: width 1s ease-in-out;
}

._transition-h-sm {
  transition: height 0.5s ease-in-out;
}

._transition-position-y {
  transition: top 0.5s ease-in-out;
}

html {
  font-size: 16px;
  font-family: "Noto Sans K", sans-serif;
  color: white;
  background: black;
  scroll-behavior: smooth;
}

._space {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 0.5px;
  width: 0.5px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -24vw -44vh 2px 2px #fff, 38vw -4vh 0px 0px #fff, -20vw -48vh 1px 2px #fff, -39vw 38vh 3px 1px #fff, -42vw -11vh 0px 3px #fff, 12vw 15vh 3px 3px #fff, 42vw 6vh 3px 2px #fff, -8vw 9vh 0px 2px #fff, 34vw -38vh 1px 0px #fff, -17vw 45vh 3px 1px #fff, 22vw -36vh 3px 2px #fff, -42vw 1vh 1px 0px #fff;
  animation: zoom 20s alternate infinite;
}

@keyframes zoom {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=index.css.map */
