@import "Library";
$height: calc(70vh - 10rem);
@mixin scene-default {
  width: 100%; height: $height;
}
._scene{
  width: 100%; height: 100vh;
  position: relative;
  overflow: hidden;
  animation: color 4s ease-in-out infinite;
}
._scene-space{
  @include scene-default;
  padding: 4rem 15% 0 15%;
  @include mobile{
    padding: 1rem 1rem 0 1rem;
  }
}
@keyframes color {
  0%{filter: blur(100px);}
  50%{filter: blur(130px) drop-shadow(16px 16px 20px red) invert(75%);;}
  100%{filter: blur(100px);}
}