@import "Library";
._scene{
  position: relative;
  width: 100%; height: calc(70vh - 10rem);
  overflow: hidden;
  padding: 0 15% 0 15%;
  animation: color 4s linear infinite;
}
@keyframes color {
  0%{filter: blur(30px);}
  50%{filter: blur(40px) drop-shadow(16px 16px 20px red) invert(75%);;}
  100%{filter: blur(30px);}
}