@import "Library";
._grid-2xn{
  display: grid; grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
  margin-top: 2rem; margin-bottom: 8rem;
  @include center-margin(24);
}
._grid-n{
  display: grid; grid-gap: $grid-gap;
  width: 100%; height: fit-content;
}
._grid-content{
  position: relative;
  width: 100%; height: fit-content;
  padding: 2rem;
}