@import "Library";
._grid-2xn{
  display: grid; grid-template-columns: repeat(2,1fr);
  grid-gap: 0.5rem 2rem;
  margin-top: 1rem; margin-bottom: 8rem;
  @include center-margin(24);
  @include large{
    @include center-margin(4);
  }
  @include tablet{
    display: block;
    @include center-margin(2);
  }
  @include mobile{
    display: grid; grid-template-columns: none;
    margin: 0.5rem 0 4rem 0;
  }
}
._grid-n{
  display: grid; grid-gap: $grid-gap;
  width: 100%; height: fit-content;
  @include mobile{
    grid-gap: 0.5rem;
  }
}
._grid-content{
  position: relative;
  width: 100%; height: fit-content;
  padding: 2rem;
  @include mobile{
    padding: 1.5rem;
  }
}
._grid-content-complex{
  width: 100%; height: fit-content;
  padding-bottom: 2rem;
}
._top-bar{
  width: 100%;
  padding: 0 20rem 1px 10rem; z-index: 10;
  background: black;
  position: fixed;
  display: flex;
  align-items: center; justify-content: space-between;
  border: transparent;
  @include mobile{
    padding: 0 1rem 0 1rem;
    margin: -0.25rem 0 0 0;
    justify-content: center;
  }
}