@import "_Library.scss";
html{
  font-family: "Gothic A1", sans-serif;
}
._text_large{
  font-weight: 500;
  font-size: 1.2rem;
}
._text_regular{
  font-weight: 400;
  font-size: 1rem;
  @include mobile{font-size: 0.8rem;}
}
._text_small{
  font-weight: 300;
  font-size: 0.8rem;
  @include mobile{font-size: 0.7rem;}
}
._heading_huge{
  font-weight: 500;
  font-size: 1.85rem;
}
._heading_larger{
  font-weight: 500;
  font-size: 1.6rem;
}
._heading_large{
  font-weight: 500;
  font-size: 1.2rem;
}
._heading_regular{
  font-weight: 500;
  font-size: 1rem;
}