@import "Color";

/*color*/
._text-black-boldess{
  color: $black-boldess
}
._text-black-bold{
  color: $black-bold
}
._text-black-bolder{
  color: $black-bolder
}

/*font size*/
._text-smaller{
  font-size: 1rem;
  font-weight: 500;
}
._text-small{
  font-size: 1.2rem;
  font-weight: 600;
}
._text-middle{
  font-size: 1.4rem;
  font-weight: 600;
}
._text-large{
  font-size: 2rem;
  font-weight: 700;
}
._text-huger{
  font-size: 4rem;
  font-weight: 800;
}