@import "_Library.scss";
html{
  font-family: "Gothic A1", sans-serif;
}
._text_large{
  font-weight: 500;
  font-size: 1.8rem;
}
._text_regular{
  font-weight: 400;
  font-size: 1.4rem;
  @include mobile{font-size: 1.2rem;}
}
._text_small{
  font-weight: 300;
  font-size: 1.4rem;
  @include mobile{font-size: 1.2rem;}
}
._heading_huge{
  font-weight: bold;
  font-size: 2.8rem;
  @include mobile{
    font-size: 2.6rem;
  }
}
._heading_larger{
  font-weight: 600;
  font-size: 2.2rem;
}
._heading_large{
  font-weight: 500;
  font-size: 1.8rem;
  @include mobile{
    font-size: 1.8rem;
  }
}
._heading_regular{
  font-weight: 600;
  font-size: 1.4rem;
  @include mobile{
    font-size: 1.4rem;
  }
}
._heading_small{
  font-weight: 500;
  font-size: 1.4rem;
}
._heading_huger{
  font-weight: 700;
  font-size: 4rem;
  @include mobile{
    font-size: 3rem;
  }
}
._important_large{
  font-weight: 700;
  font-size: 2rem;
}