@import 'Library';
.top-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 7rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: #1d1f21;
  font-family: 'Gothic A1', sans-serif;
  transition: height 0.5s ease-in-out;
  @include mobile {
    font-size: 0.8rem;
  }
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
